/* global style */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Montez&family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700;5..1200,800;5..1200,900&display=swap');


:root {
    --light-green: #606C38;
    --dark-green: #283618;
    --rocket-fuel: #FEFAE0;
    --di-sierra: #DDA15E;
    --burbon: #BC6C25;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

/* Navigation menu */


.navbar{
    background: var(--light-green);
    --bs-navbar-brand-color: orange;
    --bs-navbar-brand-hover-color: orange;
    --bs-navbar-active-color: orange;
}


.h2{
    font-family: "Montez" ;
   font-size: 6rem;
   font-weight: 600; 
   color: var(--di-sierra);
   padding-left: 2.5rem;
}


.navbar-nav{
    text-transform: uppercase;
    font-family: 'Playfair', serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    --bs-nav-link-color: var(--di-sierra);
    --bs-nav-link-hover-color: orange;
    margin:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    align-items: end;
    }


.navbar-nav .nav-link.active {
        color: #DDA15E;
 }
 
 .navbar-nav .nav-link:hover {
     color:orange;
 }

 
.navbar-nav > li{
    margin-left:5rem;
    margin-right:5rem;
  }



/* move other section under just to see better*/

.hero{
    padding-top: 200px;
}