/* global style */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Montez&family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700;5..1200,800;5..1200,900&display=swap');


:root {
    --light-green: #606C38;
    --dark-green: #283618;
    --rocket-fuel: #FEFAE0;
    --di-sierra: #DDA15E;
    --burbon: #BC6C25;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    background-color: #fff;
}

/* Navigation menu */


.navbar{
    background: var(--light-green);
    --bs-navbar-brand-color: orange;
    --bs-navbar-brand-hover-color: orange;
    --bs-navbar-active-color: orange;
}


.h2{
    font-family: "Montez" ;
   font-size: 6rem;
   font-weight: 600; 
   color: var(--di-sierra);
   padding-left: 2.5rem;
}


.navbar-nav{
    text-transform: uppercase;
    font-family: 'Playfair', serif;
    font-size: 2.6rem;
    letter-spacing: 2px;
    --bs-nav-link-color: var(--di-sierra);
    --bs-nav-link-hover-color: orange;
    margin:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    align-items: end;
    }


.navbar-nav .nav-link.active {
        color: #DDA15E;
 }
 
 .navbar-nav .nav-link:hover {
     color:orange;
 }

.navbar-nav > li{
    margin-left:5rem;
    margin-right:5rem;
  }


.navbar-toggler {
    color: #606C38;
    border: solid var(--di-sierra) 1px;
    margin-right: 3rem;
   }

.navbar-toggler:hover {
    color: orange;
}

.dropdown-menu {
    font-size: 2rem;
    --bs-dropdown-bg: var(--light-green);
    --bs-dropdown-link-color: var(--di-sierra);
    --bs-dropdown-link-hover-color:orange;
    --bs-dropdown-link-hover-bg: var(--light-green);
    --bs-dropdown-link-active-color: orange;
    --bs-dropdown-link-active-bg: var(--light-green);
    border: solid var(--di-sierra) 1px;
}
.dropdown-menu:hover {
    border: solid orange 1px;
}

/*hero section*/

#hero-image{
    height: 75vh; 
      background: url(../img/hero.jpg) center 85% / cover no-repeat;
      animation-name: hero-zoom;
      animation-duration: 5s;
      animation-fill-mode: backwards; 
}
 
 #hero-outer{
     height:75vh;
     width: auto;
     clear: both;
     margin-top: 7.5rem;
     background: var(--light-green);
     position: relative;
 }
 
@keyframes hero-zoom{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

#cover-text, #cover-text h2{
    color: var(--rocket-fuel);
    font-size: 2.5rem;
}

#cover-text h3{
    margin-top: 5px;
    color: var(--rocket-fuel);
    text-align: end;
    padding-right: 1rem;
    font-size: 2.5rem;
}

#cover-text {
    letter-spacing: 2px;
    width: auto;
    height: 20rem;
    padding-top:1rem ;
    padding-bottom: 4rem;
    padding-left: 1rem;
    background-color:rgba(3, 3, 3, 0.5);
    bottom: 3rem;
    left: 4rem;
    right: 5rem;
    position: absolute;
}

@media(min-width:768px) {
    #cover-text {
        height:15rem;
    }
}

/*meals section*/

#meals{
    padding-top:5rem ;
    padding-bottom: 5rem; 
}


.meal-link {
    padding-bottom: 3rem;
    font-family: "Montez", sans-serif;
   font-size: 5.5rem;
   font-weight: bold; 
   color: var(--burbon);
   padding-left: 2.5rem;
}

.meal-categories{
    margin-bottom: 0.5rem;
    padding-bottom: 2px;
    line-height: 1.2;
    color: var(--rocket-fuel);
    text-align: center;
    background-color: var(--burbon);
    text-decoration: none;
    font-family:"Playfair", sans-serif;
    font-size: 2.5rem;
}

.container-fluid-meals{
    padding-left: 3rem;
    padding-right: 3rem;
}


@media(max-width:576px) {
    .resize{
        margin: 0 5rem ;
    }

    .container-fluid-meals{
        padding-left: 0;
        padding-right: 0;
    }

}


.card-img-top{
    padding: 0.5rem;
    width: 100%;
    height: 35rem; 
}

.card-title{
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--burbon);
    font-family:"Playfair", sans-serif;
    padding-left: 1rem;
    padding-top: 1rem;
    }

    
.card-text{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: left;
    color: var(--dark-green);
    text-decoration: none;
    min-height: 6rem;
}


/*benefit section*/

.b-heading-section {
    padding-bottom: 3rem;
    font-family: "Montez", sans-serif ;
   font-size: 5.5rem;
   font-weight: bold; 
   color: var(--burbon);
   padding-left: 2.5rem;
}

.row-table{
    display: table;
}

.container-fluid-benefit{
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-column{
    display: table-cell;
    padding: 0 3rem 3rem;
    float: none;
}

.reason-benefit{
    background: #606C38;
    padding-top: 2rem;
    width: fit-content;
   min-height: 36rem;  
}

.benefit-heading{
    margin-bottom: 1.5rem;
         color: var(--rocket-fuel);
        font-size: 2rem;
}

.benefit-paragraph{
    text-align: justify;
    color: var(--rocket-fuel);
    font-size: 1.5rem;
    padding-right: 5rem;
}


.reason-icon{
    font-size: 3rem;
    color: var(--rocket-fuel);
    padding-left: 2rem;
    }

.image-reason-start{
    background: url(../img/sott_olio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 36rem;
}

.image-reason-end{
    background: url(../img/on_salad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 36rem;
}

.col-sm-12-disappear{
    min-height: 0;
}

/*varieties section*/

.v-heading-section{
    padding-bottom: 3rem;
    font-family: "Montez", sans-serif ;
   font-size: 5.5rem;
   font-weight: bold; 
   color: var(--burbon);
   padding-left: 2.5rem;
}


.varieties-heading{
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--burbon);
    font-size: 1.8rem;
    padding-top: 2rem;      
}


.central-image{   
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}


.circle-container{
    width: 10rem;
    height: 10rem;
    margin: 0 auto ;
    background: var(--burbon);
    border: solid var(--burbon) 3px;
    border-radius: 50%;
}

.image-style{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    border-radius: 50%;
    margin: auto;
    margin: auto;
    width: 100%;
    height: 100%;
}


@media(min-width:992px) {
    .container-fluid-varieties{
        margin: 0 15rem ;
    }
}


/*contact section*/

.bg-contact-section{
    padding-bottom: 3rem;
    font-family: "Montez", sans-serif ;
   font-size: 5.5rem;
   font-weight: bold; 
   color: var(--burbon);
   padding-left: 2.5rem;
}

.bg-color-contact{
    background-color:#FEFAE0;
}

.container-fluid-contact{
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-heading{
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: #283618;
    font-weight: 400;
}
 
.sub-heading{
    font-size: 2rem;
    
    color: #283618;
    font-weight: 400;
}
.center-form{
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 70%;
}

.form-control{
    font-size: 1.5rem;
}

button[type="submit"] {
margin-top: 1.5rem;
margin-bottom: 2rem;
color: #FEFAE0;
background-color: #BC6C25;
font-size: 1.5rem;
}

@media(min-width:992px) {
    .center-form{
        padding-top: 3rem;
        min-height: 24rem;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*footer*/

footer{
    background-color: var(--burbon);
    color: var(--rocket-fuel);
    min-height: 13rem;
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
        color: var(--rocket-fuel);
        font-size: 2rem;
        font-weight: bold;
}

#footer-details{
    padding: 2rem;
}


.inline-block{
    display: inline-block;
    padding-right: 6rem;
    text-align: justify;
}

.span-bold{
    font-weight: bold;
}

.contact-us i{
    color: var(--rocket-fuel);
    font-size: 1.8rem;
    text-align: center;
    padding-left: 0.5rem;
    transition: all 0.35s ease-in-out;
    -mz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-us i:hover{
    color:var(--dark-green);
    font-size: 2.5rem;
}

.social-links{
    padding-bottom: 2.5rem;
}

.social-links li a i{
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size:1.3rem;
    line-height: 0.7rem;
    text-align: center;
    color: var(--rocket-fuel);
    background: var(--di-sierra) ;
    transition: all 0.35s ease-in-out;
    -mz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: var(--dark-green) ;
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    line-height: 0.7rem;
    text-align: center;
    padding: 1.7rem 0;
}

 