/* global style */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Montez&family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700;5..1200,800;5..1200,900&display=swap');


:root {
    --light-green: #606C38;
    --dark-green: #283618;
    --rocket-fuel: #FEFAE0;
    --di-sierra: #DDA15E;
    --burbon: #BC6C25;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

/* Navigation menu */


.navbar{
    background: var(--light-green);
    --bs-navbar-brand-color: orange;
    --bs-navbar-brand-hover-color: orange;
    --bs-navbar-active-color: orange;
}


.h2{
    font-family: "Montez" ;
   font-size: 6rem;
   font-weight: 600; 
   color: var(--di-sierra);
   padding-left: 2.5rem;
}


.navbar-nav{
    text-transform: uppercase;
    font-family: 'Playfair', serif;
    font-size: 2.6rem;
    letter-spacing: 2px;
    --bs-nav-link-color: var(--di-sierra);
    --bs-nav-link-hover-color: orange;
    margin:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    align-items: end;
    }


.navbar-nav .nav-link.active {
        color: #DDA15E;
 }
 
 .navbar-nav .nav-link:hover {
     color:orange;
 }

.navbar-nav > li{
    margin-left:5rem;
    margin-right:5rem;
  }


.navbar-toggler {
    color: #606C38;
    border: solid var(--di-sierra) 1px;
    margin-right: 3rem;
}

.navbar-toggler:hover {
    color: orange;
}

.dropdown-menu {
    font-size: 2rem;
    --bs-dropdown-bg: var(--light-green);
    --bs-dropdown-link-color: var(--di-sierra);
    --bs-dropdown-link-hover-color:orange;
    --bs-dropdown-link-hover-bg: var(--light-green);
    --bs-dropdown-link-active-color: orange;
    --bs-dropdown-link-active-bg: var(--light-green);
    border: solid var(--di-sierra) 1px;
}
.dropdown-menu:hover {
    border: solid orange 1px;
}

/*hero section*/

#hero-image{
    height: 75vh; 
      background: url(../img/hero.jpg) center 85% / cover no-repeat;
      animation-name: hero-zoom;
      animation-duration: 5s;
      animation-fill-mode: backwards; 
}
 
 #hero-outer{
     height:75vh;
     width: auto;
     clear: both;
     padding-top: 10rem;
     background: var(--light-green);
     position: relative;
 }

 
@keyframes hero-zoom{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

#cover-text, #cover-text h2{
    color: var(--rocket-fuel);
    font-size: 2.5rem;
}

#cover-text h3{
    margin-top: 5px;
    color: var(--rocket-fuel);
    text-align: end;
    padding-right: 1rem;
    font-size: 2.5rem;
}

#cover-text {
    letter-spacing: 2px;
    width: auto;
    height: 20rem;
    padding-top:1rem ;
    padding-bottom: 4rem;
    padding-left: 1rem;
    background-color:rgba(3, 3, 3, 0.5);
    bottom: -5rem;
    left: 4rem;
    right: 5rem;
    position: absolute;
}

/*meals section*/

#meals{
    padding-top:15rem ;
    padding-bottom: 5rem; 
}


.meal-link {
    text-decoration: none;
    padding-bottom: 3rem;
    font-family: "Montez", sans-serif;
   font-size: 5.5rem;
   font-weight: bold; 
   color: var(--burbon);
   padding-left: 2.5rem;
}

.meal-categories{
    margin-bottom: 0.5rem;
    padding-bottom: 2px;
    line-height: 1.2;
    color: var(--rocket-fuel);
    text-align: center;
    background-color: var(--burbon);
    text-decoration: none;
    font-family:"Playfair", sans-serif;
    font-size: 2.5rem;
}


.container-fluid-meals{
    padding-left: 3rem;
    padding-right: 3rem;
}

.card-img-top{
    padding: 0.5rem;
    width: 100%;
    height: 35rem; 
}

.card-title{
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--burbon);
    font-family:"Playfair", sans-serif;
    padding-left: 1rem;
    padding-top: 1rem;
    }

    
.card-text{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: left;
    color: var(--dark-green);
    text-decoration: none;
    min-height: 6rem;
}


/*footer*/

footer{
    background-color: var(--burbon);
    color: var(--rocket-fuel);
    min-height: 13rem;
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
        color: var(--rocket-fuel);
        font-size: 2rem;
        font-weight: bold;
}

#footer-details{
    padding: 2rem;
}


.inline-block{
    display: inline-block;
    padding-right: 6rem;
    text-align: justify;
}

.span-bold{
    font-weight: bold;
}

.contact-us i{
    color: var(--rocket-fuel);
    font-size: 1.8rem;
    text-align: center;
    padding-left: 0.5rem;
    transition: all 0.35s ease-in-out;
    -mz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-us i:hover{
    color:var(--dark-green);
    font-size: 2.5rem;
}

.social-links{
    padding-bottom: 2.5rem;
}

.social-links li a i{
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size:1.3rem;
    line-height: 0.7rem;
    text-align: center;
    color: var(--rocket-fuel);
    background: var(--di-sierra) ;
    transition: all 0.35s ease-in-out;
    -mz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: var(--dark-green) ;
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    line-height: 0.7rem;
    text-align: center;
    padding: 1.7rem 0;
}

 